<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!--
    Use a content security policy to only allow loading images from https or from our extension directory,
    and only allow scripts that have a specific nonce.
    -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; img-src <%= cspSource %> data:; font-src <%= cspSource %> data:; style-src <%= cspSource %> 'unsafe-inline'; script-src 'nonce-<%= nonce %>';"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    <script
      nonce="<%= nonce %>"
      type="module"
      crossorigin
      src="<%= indexUri %>"
    ></script>
    <link nonce="<%= nonce %>" rel="modulepreload" href="<%= vendorsUri %>" />
    <link rel="stylesheet" href="<%= stylesUri %>" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
